
@font-face {
    font-family: 'Cooper';
    src: url('../fonts/Cooper-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    user-select: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    background: radial-gradient(
    circle at bottom,
    rgb(252, 234, 219),
    rgb(255,255,255)
  );
}

#main {
    display: flex;
    flex-direction: column;
    padding: 32px 48px;
    min-height: calc(100vh - 64px);
    height: calc(100% - 64px);
}

img {
    width: auto;
    height: 32px;
    object-fit: contain;
    align-self: center;
}

.content {
    margin: 16px 0 0 0;
}

h3 {
    font-family: 'Cooper';
    color: rgb(31,31,31);
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 16px 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: -0.025em;
}

p {
    font-weight: 500;
    color: rgb(131,131,131);
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.0125em;
    margin: 0 0 8px 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
}

a {
    color: rgb(131,131,131);
    text-decoration: none;
}

a:hover {
    color: rgb(31,31,31);
}
