@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700');

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar { 
    display: none; 
}

body {
    color: #222222;
    font-family: system-ui;
}


#navigation {
    width: 100%;
	height: 80px;
    background-color: white;
    z-index: 1;
    
}

#navigation ul {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
	
}

#navigation li {
    font-size: 13px;
    font-weight: 700;
    display: inline-block;
    padding: 30px 6% 30px 6%;
}

#navigation li a {
    text-decoration: none;
    letter-spacing: 1.5px;
    color: #222222;
    
}

#navigation li a:hover {
    color: #26A9FF;
	
}

.sticky {
  position: fixed;
  top: 0;
    
}


.main {
    max-width: 90%;
    margin: 0pt 5% 20pt 5%;
    display: flex;
    flex-direction: column;
    animation: fadein 2s;
    margin-bottom: 32pt;
}

.sticky + .main {
  padding-top: 80px;
}

.project {
	display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20pt;
}

.project img{
	width: 35%;
    height: auto;
    border-radius: 5pt;
    margin: 20pt 0pt 20pt 52pt;
}


.description {
    width: 45%;
    margin: 20pt 72pt 20pt 52pt;
}

.description h1{
	font-size: 32pt;
    font-weight: 800;
    margin-bottom: 16pt;
}

.description p{
	font-size: 12pt;
    font-family: 'Roboto Mono';
    font-weight: 300;
}

.description strong{
	font-weight: 700;
}

.description button{
	height: 50pt;
    margin-top: 20pt;
    width: 133.068pt;
    font-size: 12pt;
    font-weight: 400;
    background-color: transparent;
    border-width: 1pt;
    border-color: #222222;
    transition: 0.3s ease all !important;
    border-radius: 5pt;
}

.description button:hover {
    background-color: #4facfe;
    border: 0px solid #4facfe;
    color: white;
    cursor: pointer;
    transition: 0.3s ease all !important;
}

.carousel-inner img {
      width: 100%;
      height: 100%;
  }



#footer {
    height: 40px;
    color: #222222;
    width: 100%;
    margin-top: 20px;
    animation: fadein 2s;
    
}

#footer p{
    font-size: 9pt;
    font-weight: 500;
    margin-left: 5%;
}


/* ANIMATION */

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
