* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar { 
    display: none; 
}

body {
    color: #222222;
    font-family: system-ui;
}

/* NAVIGATION *//* NAVIGATION */
/* NAVIGATION *//* NAVIGATION */
/* NAVIGATION *//* NAVIGATION */

#navigation {
    width: 100%;
	height: 80px;
    background-color: white;
    z-index: 1;
    
}

#navigation ul {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
	
}

#navigation li {
    font-size: 13px;
    font-weight: 700;
    display: inline-block;
    padding: 30px 6% 30px 6%;
}

#navigation li a {
    text-decoration: none;
    letter-spacing: 1.5px;
    color: #222222;
    
}

#navigation li a:hover {
    color: #26A9FF;
	
}

.sticky {
  position: fixed;
  top: 0;
    
}

/* logo *//* logo *//* logo */
/* logo *//* logo *//* logo */
/* logo *//* logo *//* logo */


.logo {
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 16px;
    margin-top: 2.5%;
    text-align: center;
}

.logo h1 {
    font-size: 30pt;
    font-weight: 900;
    text-transform: uppercase;
}

.logo p{
    font-size: 12pt;
    font-weight: 300;    
}

/* MAIN *//* MAIN *//* MAIN */
/* MAIN *//* MAIN *//* MAIN */
/* MAIN *//* MAIN *//* MAIN */

#main {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    animation: fadein 2s;
}

.sticky + #main {
  padding-top: 80px;
}

/* BANNER *//* BANNER *//* BANNER */
/* BANNER *//* BANNER *//* BANNER */
/* BANNER *//* BANNER *//* BANNER */


.banner {
	height: 100%;
    margin-bottom: 50px;
    transition: 0.3s ease all !important;
    clip: 10px;
    align-items: center;
    justify-content: center;
}

div.banner:hover{
    box-shadow: 0px 15px 15px 0px grey;
    cursor: pointer;
}

.banner img {
    width: 100%;
    display: flex;
}



/* UX PAGE*//* UX PAGE*//* UX PAGE*/
/* UX PAGE*//* UX PAGE*//* UX PAGE*/
/* UX PAGE*//* UX PAGE*//* UX PAGE*/

#main_ux {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    flex-wrap: wrap;
    animation: fadein 2s;
    margin-top: 50px;
    
}

.sticky + #main_ux{
    padding-top: 80px;
}

.project {
    width: 45%;
	height: 100%;
    padding: 0% 2.5% 0% 2.5%;
    margin-bottom: 72px;
    
}


.project_info_wrapper {
	margin-top: 0px;
}

.project img {
    height: 100%;
    width: 100%;
}

.project h2 {
	font-size: 32px;
    font-weight: 800;
    padding-top: 5px;
}

.project h3 {
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 5px;
}

.project h3 strong {
    font-weight: 700;
}

.project p{
    font-weight: 300;
	font-size: 18px;
}



/* VISUAL DESIGN *//* VISUAL DESIGN */
/* VISUAL DESIGN *//* VISUAL DESIGN */
/* VISUAL DESIGN *//* VISUAL DESIGN */


  .carousel-inner img {
      width: 100%;
      height: 100%;
  }




/* RESUME *//* RESUME *//* RESUME */
/* RESUME *//* RESUME *//* RESUME */
/* RESUME *//* RESUME *//* RESUME */

#bio {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    animation: fadein 2s;
    
}

#polaroid_container {
	width: 50%;
}

#polaroid {
	height: 408px;
    width: 336px;
    margin-left: 20%;
    margin-top: 5%;
    order: 1;
    box-shadow: 0px 25px 25px 0px grey;
    border: 2px solid #F5F5F5;
    transform: rotate(-3deg);
}

#polaroid p{
    font-family: 'Typewriter';
    font-weight: 100;
    font-size: 25px;
    margin-top: -75px;
    margin-left: 24px;
    transform: rotate(-1deg);
    color: #222222;
    
}


#profile_image {
	width: 288px;
    height: 297.6px;
    background: white;
    padding: 25px 24px 85.4px 24px;
    
}

#text {
    order: 2;
    width: 50%;
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
}

#text h1 {
    font-size: 41px;
    font-weight: 900;
}

#text p{
    margin-top: 19p x;
    font-size: 19px;
    font-weight: 300;
}


#resume {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 5%;
    animation: fadein 2s;

}

hr {
    background-color: #C8C8C8;
    display: block;
}

.resume_section {
    width: 100%;
    order: 1;
    display: flex;
    flex-direction: row;
	
}

.resume_section_header {
    width: 50%;
    order: 1;
	
}

.resume_section_header h1{
    font-size: 41px;
    font-weight: 300;
    padding-top: 10%;
	
}

.resume_section_body {
	width: 50%;
    order: 2;
    margin-top: 5%;
    margin-bottom: 5%;
}

.resume_section_body h2{
    font-size: 41px;
    font-weight: 900;
	
}

.resume_section_body h3{
    font-size: 25px;
    font-weight: 500;
    color: #26A9FF;
	
}

.resume_section_body p{
    font-size: 16px;
    font-weight: 300;
	
}

.resume_section_body table{
    width: 100%;
    height: auto;
}

.resume_section_body td{
	width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.resume_section_body h4{
    font-size: 25px;
    font-weight: 200;
	
}


/* FOOTER *//* FOOTER *//* FOOTER */
/* FOOTER *//* FOOTER *//* FOOTER */
/* FOOTER *//* FOOTER *//* FOOTER */


#footer {
    height: 40px;
    color: #222222;
    width: 100%;
    margin-top: 20px;
    animation: fadein 2s;
    
}

#footer p{
    font-size: 9pt;
    font-weight: 500;
    margin-left: 5%;
}


/* ANIMATION */

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

