<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Samuel Aguilar</title>
    <meta name="description" content="Samuel Aguilar Portfolio" />
    <!--<meta name="keywords" content="draggable, images, horizontal, layout, flexbox, grid, css, tweenmax, draggabilly, web design" />-->
    <meta name="author" content="Samuel Aguilar" />
    <!--<link rel="stylesheet" href="https://use.typekit.net/ugp0unb.css">-->
    <link rel="stylesheet" type="text/css" href="../css/base.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="../icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../icons/favicon-16x16.png">
    <link rel="manifest" href="./icons/site.webmanifest">
    <link rel="mask-icon" href="./icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
</head>

<body>
    <main>
        <div class="frame">
            <div class="frame__title-wrap">
                <a href="../index.html" class="frame__title">Samuel Aguilar</a>
                <div class="frame__links">
                    <a href="#" style="color: rgb(90,200,250);">About</a>
                    <a href="../files/Samuel-Aguilar-Resume.pdf">Resume</a>
                    <a href="mailto:samuel_aguilar@alumni.brown.edu">Contact</a>
                </div>
            </div>
            <div class="frame__indicator"></div>
            <h3 class="frame__subtitle">Copyright &copy; 2019 Samuel Aguilar</h3>
        </div>
        
        <article class="content__item about">
                <div class="img-outer img-outer--content">
                    <div class="img-inner img-inner--content" style="background-image: url(../img/banner_green.png);"></div>
                </div>
                <div class="content__item-copy">
                    <img class="content__item-logo" src="./img/mlstudio.jpg" style="width: 100%; border-radius: 14px; display: none;" />
                    <h2 class="content__item-title">How's it going  🤙</h2>
                    <p class="content__item-text">
                        I'm Sam Aguilar, a San Diego native and aspiring Product Designer that's always bugging to work on something. I enjoy crafting intuitive experiences for web and mobile, as well as getting out there in the field and talking to users.  
                        <br/>
                        <br/>
                        I've recently graduated from Brown University with a degree in Cognitive Science, but my background covers the whole gamut, including Business, Sociology, Film, and a little Archeology? 
                        <br/>
                        <br/>
                        Feel free to <a href="mailto:samuel_aguilar@alumni.brown.edu">reach out to me</a> if you want to work on something, or just want to talk about design, film, music, or anything really.
                        </p>
                    <button onclick="window.open('../files/Samuel-Aguilar-Resume.pdf')" class="content__item-download">Download Resume</button>
                </div>
            </article>
        
    </main>
    <script src="../js/imagesloaded.pkgd.min.js"></script>
    <script src="../js/TweenMax.min.js"></script>
    <script src="../js/draggabilly.pkgd.min.js"></script>
    <script src="../js/demo.js"></script>
    
</body>

</html>
