<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="../main.css">
    <title>Resume</title>
</head>

<body>

    <div id="navigation">
        <ul>
            <li>
                <a href="../index.html">HOME</a>
            </li>
            <li>
                <a href="ux.html">UX DESIGN</a>
            </li>
            <li>
                <a href="visual_design.html">VISUAL DESIGN</a>
            </li>
            <li>
                <a href="resume.html">RESUME</a>
            </li>

        </ul>
    </div>

    <div id="bio">
        <div id="polaroid_container">
            <div id="polaroid">
                <img src="https://source.unsplash.com/mxPgL7cG_QQ/576x594" id="profile_image">
                <p>caption , 2018</p>
            </div>
        </div>
        <div id="text">
            <h1>Hi, I'm Sam</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fermentum lorem a eros semper mollis. Phasellus vel posuere sapien. Aliquam quis mi tellus. Maecenas scelerisque rhoncus ipsum, sed suscipit nunc aliquet in. Proin fermentum ut dui vitae laoreet. Nulla facilisi. Ut sodales, velit vitae varius varius, nisl nisl euismod eros, sit amet ultrices lectus libero eu mi. In imperdiet ipsum eget odio mollis laoreet. Praesent ultricies est sit amet lacus lobortis, non pellentesque nibh dapibus. Maecenas tincidunt neque ut nisl euismod dignissim. Donec id orci metus. Pellentesque nec elementum justo. Fusce euismod enim purus, ac gravida lectus tincidunt eu. Quisque commodo mi at risus tincidunt luctus. Nunc malesuada sit amet nisl vel tincidunt. Suspendisse vel tristique massa.</p>

        </div>
    </div>

    <div id="resume">

        <!-- EDUCATION -->
        <hr style="order: 1">
        <div class="resume_section" style="order: 2">
            <div class="resume_section_header">
                <h1>Education</h1>
            </div>

            <div class="resume_section_body">
                <h2>Brown University</h2>
                <h3>Fall 2015 - Spring 2019</h3>
                <p>A.B. Cognitive Science &#40; w/ emphasis in Human Centered Design &#41;</p>
                <p><strong>GPA:</strong> 3.5 / 4.0</p>
                <br />
                <p><strong>Selected Courses:</strong> User Interface Design — Creating Modern Web Apps — Crossing the Consumer Chasm Through Design — The Entrepreneurial Process — Design Anthropology — Human Factors — Visualizing Information — Visually Guided Action &amp; Cognitive Processes — Perception &amp; Mind — Making Decisions — and more to come …</p>

            </div>


        </div>

        <!-- EXPERIENCE -->
        <hr style="order: 3">
        <div class="resume_section" style="order: 4">
            <div class="resume_section_header">
                <h1>Experience</h1>
            </div>

            <div class="resume_section_body">
                <h2>Ivy Film Festival</h2>
                <h3>Fall 2015 - Spring 2016</h3>
                <p>Programming Staff</p>

                <br />
                <p><strong>Role:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed lectus vitae quam tincidunt ornare quis et orci. Integer tortor nibh, venenatis eget feugiat rutrum, lacinia ac nisl. Quisque vulputate velit sit amet ultrices dapibus. Praesent a mauris ligula. Sed dictum posuere lacus nec porta. Quisque at facilisis magna, vel blandit tortor. Sed ultricies orci sit amet tempor malesuada. Morbi erat tellus, blandit ullamcorper leo vitae, posuere vestibulum urna. Aenean quis diam metus. Cras risus urna, auctor ornare ullamcorper in, facilisis at lacus. Nunc in orci elit. In hac habitasse platea dictumst. Phasellus tincidunt convallis tortor, in suscipit tortor. Curabitur ac ex quis turpis commodo feugiat id non nulla. Sed nec ex lorem.</p>

            </div>


        </div>

        <!-- SKILLS -->
        <hr style="order: 5">
        <div class="resume_section" style="order: 6">
            <div class="resume_section_header">
                <h1>Skills</h1>
            </div>

            <div class="resume_section_body">

                <table>
                    <tr>
                        <td>
                            <h4>Contextual Analysis</h4>
                        </td>
                        <td>
                            <h4>Usability Testing</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Card Sort</h4>
                        </td>
                        <td>
                            <h4>Brand Identity</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Wireframe</h4>
                        </td>
                        <td>
                            <h4>Video Editing</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Personas</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Rapid Prototyping</h4>
                        </td>
                    </tr>

                </table>
            </div>


        </div>

        <!-- SOFTWARE -->
        <hr style="order: 7">
        <div class="resume_section" style="order: 8">
            <div class="resume_section_header">
                <h1>Software</h1>
            </div>

            <div class="resume_section_body">
                <table>
                    <tr>
                        <td>
                            <h4>Sketch</h4>
                        </td>
                        <td>
                            <h4>HTML / CSS / JS</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Framer</h4>
                        </td>
                        <td>
                            <h4>React</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Balsamiq</h4>
                        </td>
                        <td>
                            <h4>Swift</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Illustrator</h4>
                        </td>
                        <td>
                            <h4>React Native</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Photoshop</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Adobe XD</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Final Cut Pro X</h4>
                        </td>
                    </tr>

                </table>

            </div>


        </div>

        <!-- LANGUAGES -->
        <hr style="order: 9">
        <div class="resume_section" style="order: 10">
            <div class="resume_section_header">
                <h1>Languages</h1>
            </div>

            <div class="resume_section_body">
                <table>
                    <tr>
                        <td>
                            <h4>English &#40;Native&#41;</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Spanish &#40;Full Professional Fluency&#41;</h4>
                        </td>
                    </tr>
                </table>

            </div>


        </div>

        <!-- CONTACT -->
        <hr style="order: 11">
        <div class="resume_section" style="order: 12">
            <div class="resume_section_header">
                <h1>Contact</h1>
            </div>

            <div class="resume_section_body">
                <table>
                    <tr>
                        <td>
                            <h4>samuel_aguilar&#64;brown.edu</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>&#40;858&#41;-344-8248</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>samaguilar.github.io</h4>
                        </td>
                    </tr>
                </table>

            </div>


        </div>

    </div>

    <div id="footer">
        <p>&copy; 2018 Samuel Aguilar. All Rights Reserved</p>

    </div>

</body>


</html>
