<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="./styles/resume.css">
    <title>About</title>
</head>

<body>

    <div id="navigation">
        <ul>
            <li>
                <a href="../index.html">HOME</a>
            </li>
            <li>
                <a href="ux.html">UX DESIGN</a>
            </li>
            <li>
                <a href="visual_design.html">VISUAL DESIGN</a>
            </li>
            <li>
                <a href="resume.html">ABOUT</a>
            </li>
        </ul>
    </div>


    <div class="main">
        <img src="https://source.unsplash.com/O7qK1vQY3p0/1186x721">
        <div class="bio">
            <h1>How's it going</h1>
            <p>I'm <strong>Samuel Aguilar</strong>, a San Diego native currently concentrating in Cognitive Science at Brown University.
                <br>
                <br> I'm currently working on Ubica, an event management solution for small to medium sized organizations.
                <br>
                <br> Feel free to <a href="mailto:samuel_aguilar@brown.edu">reach out to me</a> if you want to work on something, or just talk about design, film, music, or anything really.
                <br>
                <br>
                <button onclick="window.open('./resources/Samuel_Aguilar_Resume.pdf')">
                View Resume
                </button>

            </p>

        </div>
    </div>

    <div>

    </div>



    <div id="footer">
        <p>&copy; 2018 Samuel Aguilar. All Rights Reserved</p>

    </div>

</body>

<script>
    window.onscroll = function() {
        myFunction()
    };

    var navbar = document.getElementById("navigation");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }

</script>


</html>
