<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="./styles/ux.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>UX</title>
</head>

<body>

    <div id="navigation">
        <ul>
            <li>
                <a href="../index.html">HOME</a>
            </li>
            <li>
                <a href="ux.html">UX DESIGN</a>
            </li>
            <li>
                <a href="visual_design.html">VISUAL DESIGN</a>
            </li>
            <li>
                <a href="resume.html">ABOUT</a>
            </li>

        </ul>
    </div>


    <div class="main">
        <div class="project" data-aos="fade-up">
            <img src="img/ubica_cover.jpg">
            <div class="description">
                <h1>Ubica</h1>
                <p><strong>Co-founder &amp; Designer</strong></p>
                <p><strong>Research, Design, &amp; Development</strong></p>
                <br>
                <p>Discover, create, and share events. An enterprise solution for small to medium sized organizations.</p>
                <button onclick="location.href='./projects/ubica.html';">
                View Case Study
                </button>
            </div>
        </div>
        
        <div class="project" data-aos="fade-up">
            <img src="img/cr_cover.jpg">
            <div class="description">
                <h1>Critical Review</h1>
                <p><strong>User Experience Lead</strong></p>
                <p><strong>Research, Prototyping &amp; Development</strong></p>
                <br>
                <p>Helping Brown students navigate the Open Curriculum since 1976. A redesign of Brown University's most popular course review aggregator.</p>
                <button onclick="location.href='./projects/critical_review.html';">
                View Case Study
                </button>
            </div>
        </div>
        
        <div class="project" data-aos="fade-up">
            <img src="img/hr_cover.jpg">
            <div class="description">
                <h1>Humble Roots</h1>
                <p><strong>Design Lead</strong></p>
                <p><strong>Research &amp; Prototyping</strong></p>
                <br>
                <p>The World's produce; Delivered. An online marketplace for locally sourced produce.</p>
                <button onclick="location.href='./projects/humble_roots.html';">
                View Case Study
                </button>
            </div>
        </div>
    </div>





    <div id="footer">
        <p>&copy; 2018 Samuel Aguilar. All Rights Reserved</p>

    </div>

</body>

<script>
    AOS.init();

</script>

<script>
    window.onscroll = function() {
        myFunction()
    };

    var navbar = document.getElementById("navigation");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }

</script>

</html>
