<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="./styles/visual.css">
    <title>Visual Design</title>
</head>

<body>
    <div id="navigation">
        <ul>
            <li>
                <a href="../index.html">HOME</a>
            </li>
            <li>
                <a href="ux.html">UX DESIGN</a>
            </li>
            <li>
                <a href="visual_design.html">VISUAL DESIGN</a>
            </li>
            <li>
                <a href="resume.html">ABOUT</a>
            </li>

        </ul>
    </div>

    <div class="main">
        <div class="project" data-aos="fade-up">
            <img src="img/mlstudio_cover.jpg">
            <div class="description">
                <h1>MLStudio</h1>
                <p><strong>Design &amp; Development</strong></p>
                <p>A music player. An audio editor. You get the picture. Create unique music visualizations; all inside of MATLAB. </p>
                <button onclick="location.href='./projects/mlstudio.html';">
                View Case Study
                </button>
            </div>
        </div>

        <div class="project" data-aos="fade-up">
            <img src="img/info_cover.jpg">
            <div class="description">
                <h1>Infographics</h1>
                <p><strong>Designer</strong></p>
                <p>Assorted infographics for my Data Visualization &amp; Animal Behavior courses.</p>
                <button onclick="location.href='./projects/infographics.html';">
                View Work
                </button>
            </div>
        </div>


        <div style="margin-top: 15px; display: none;">
            <div id="vdc" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="vdc" data-slide-to="0" class="active"></li>
                    <li data-target="vdc" data-slide-to="1"></li>
                    <li data-target="vdc" data-slide-to="2"></li>
                    <li data-target="vdc" data-slide-to="3"></li>
                </ul>

                <!-- Slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://source.unsplash.com/oy_Kwca00EA/2048x871" alt="Placeholder Text">
                    </div>
                    <div class="carousel-item">
                        <img src="https://source.unsplash.com/XHDtPRj535A/2048x871" alt="Placehold Text">
                    </div>
                    <div class="carousel-item">
                        <img src="https://source.unsplash.com/KT3WlrL_bsg/2048x871" alt="Placeholder Text">
                    </div>
                    <div class="carousel-item">
                        <img src="https://source.unsplash.com/4xv3lqnanYc/2048x871" alt="Placeholder Text">
                    </div>
                </div>

                <!-- Controls -->
                <a class="carousel-control-prev" href="#vdc" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
                <a class="carousel-control-next" href="#vdc" data-slide="next">
            <span class="carousel-control-next-icon"></span>
            </a>
            </div>

        </div>

    </div>

    <div id="footer">
        <p>&copy; 2018 Samuel Aguilar. All Rights Reserved</p>

    </div>

</body>

<!-- Keeps Navigation Consistent-->
<style>
    #navigation {
        margin-top: -1px;
    }

</style>

<script>
    AOS.init();

</script>

<script>
    window.onscroll = function() {
        myFunction()
    };

    var navbar = document.getElementById("navigation");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }

</script>

</html>
