@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700');

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar { 
    display: none; 
}

body {
    color: #171717;
    font-family: system-ui;
    background-color: white;
}

/* NAVIGATION *//* NAVIGATION */
/* NAVIGATION *//* NAVIGATION */
/* NAVIGATION *//* NAVIGATION */

#navigation {
    width: 100%;
	height: 80px;
    background-color: white;
    z-index: 1;
    
}

#navigation ul {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
	
}

#navigation li {
    font-size: 13px;
    font-weight: 700;
    display: inline-block;
    padding: 30px 6% 30px 6%;
}

#navigation li a {
    text-decoration: none;
    letter-spacing: 1.5px;
    color: #222222;
    
}

#navigation li a:hover {
    color: #26A9FF;
	
}

.sticky {
  position: fixed;
  top: 0;
    
}

.sticky + .main {
  padding-top: 80px;
}


.main {
    max-width: 61.805%;
    margin: 40pt auto;
    background-color: transparent;
    animation: fadein 2s;
}

.main-header {
    padding-bottom: 52pt;
    
}

.main-header h1{
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 32pt;
    
}

.main-header strong{
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
    font-size: 20pt;
}

.main-header p{
	font-family: 'Roboto Mono', monospace;
    font-size: 16pt;
}

.body h1 {
    font-size: 20pt;
    padding-bottom: 12pt;
    
}

.body p{
	font-size: 12pt;
    font-family: 'Roboto Mono', Menlo;
    font-weight: 300;
}

.paragraph {
    margin-bottom: 52pt;
}



.links {
	display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 50pt;
}


.links button{
	height: 50pt;
    width: 133.068pt;
    font-size: 12pt;
    font-weight: 400;
    background-color: transparent;
    border-width: 1pt;
    border-color: #222222;
    transition: 0.3s ease all !important;
    border-radius: 5pt;
}

.links button:hover {
    background-color: #4facfe;
    border: 0px solid #4facfe;
    color: white;
    cursor: pointer;
    transition: 0.3s ease all !important;
}




#footer {
    max-width: 62%;
    height: 40px;
    color: #222222;
    width: 100%;
    margin-top: 20px;
    animation: fadein 2s;
    margin: 0 auto;
    
}



#footer p{
    font-size: 9pt;
    font-weight: 500;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}