<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="styles/hr.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/responsive.css">
    <title>Humble Roots</title>
</head>

<body>

    <div id="navigation">
        <ul>
            <li>
                <a href="../../index.html">HOME</a>
            </li>
            <li>
                <a href="../ux.html">UX DESIGN</a>
            </li>
            <li>
                <a href="../visual_design.html">VISUAL DESIGN</a>
            </li>
            <li>
                <a href="../resume.html">ABOUT</a>
            </li>

        </ul>
    </div>

    <div class="main">

        <div class="main-header">
            <h1>Humble Roots</h1>
            <strong>Design Lead</strong>
            <p>February 2018 - May 2018</p>
        </div>

        <img src="img/hr/Home.png" class="mockups" style="margin-bottom: 40pt; margin-top: 0pt;" />

        <div class="body">
            <div class="paragraph">
                <h1>Background</h1>
                <p>For our Entrepreneurial Process course, my team of about 7 students was tasked with developing and ultimately pitching a unique venture. Our interest and familiarity with local farmers in the state of Providence made it easier to develop some sort of solution that would help these local farmers who struggled to both sell their produce, and market themselves. I coined the name Humble Roots, after hearing that most of these local farms were family owned and relatively small. Our working slogan, ’The Worlds Produce. Delivered’ is a nod to our promise of developing a vast distribution network that connects customers to locally sourced produce and the people behind it.</p>
            </div>
            

            <div class="paragraph"></div>
            <h1>The Design</h1>
            <p>I ran into some trouble early on when designing the first few mockups. I knew our team was aiming for something similar to Amazon, but distinct enough that people wouldn’t feel intimidated by it. They had to leave feeling like going grocery shopping online was fun again. The card design had to be simple enough to relay just the right amount of information. I was inspired by these little signs they had at some of the farmers markets I had previously visited. Either written on black chalkboards, or drawn out on square sheets, these signs were directly above the produce at eye level, so the people walking by saw the price first, then the produce. Adding subtle shadows to the cards added an additional element, where users would feel like they could actually pick these things up, just like they would inspect food at a grocery store. 
            <br>
            <br>
            The product page was also extensively redesigned from previous iterations. I felt there had to be some personal aspect to purchasing food. When I’d go grocery shopping with my family, we’d wonder about the things we wanted to eat, and pick up groceries as necessary in order to  cook those dishes. By adding recipes right within the product page, I wanted users to feel inspired about the things they could do with that piece of produce. Moreover, my goal with designing the website was to make it as delightful an experience, as well as trying to capture that grocery shopping experience. </p>
        </div>
        
        <div style="margin-top: 50pt;">
            <img src="img/hr/SearchResults.png" class="mockups" />
            <img src="img/hr/ProductView.png" class="mockups" />
        </div>
        
        <div class="links">
            <button onclick="window.open('pdfs/Humble Roots - Samuel Aguilar.pdf')">
                Download PDF
                </button>

        </div>



    </div>



    <div id="footer">
        <p>&copy; 2018 Samuel Aguilar. All Rights Reserved</p>

    </div>

</body>

<script>
    AOS.init();

</script>

<script>
    window.onscroll = function() {
        myFunction()
    };

    var navbar = document.getElementById("navigation");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }

</script>

</html>
