<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="styles/mlstudio.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>UX</title>
</head>

<body>

    <div id="navigation">
        <ul>
            <li>
                <a href="../../index.html">HOME</a>
            </li>
            <li>
                <a href="../ux.html">UX DESIGN</a>
            </li>
            <li>
                <a href="../visual_design.html">VISUAL DESIGN</a>
            </li>
            <li>
                <a href="../resume.html">ABOUT</a>
            </li>

        </ul>
    </div>

    <div class="main">

        <div class="main-header">
            <h1>MLStudio</h1>
            <strong>Design &amp; Development</strong>
        </div>


        <div class="body">
            <div class="paragraph">
                <h1>The Challenge</h1>
                <p>As our final project for Introduction to Programming, a couple of friends and I decided we build something that wasn't meant to run on MATLAB. The idea? A music visualizer that would take any song, and play it back with a cool visual moving to the frequency of the song. </p>
            </div>

            <div class="paragraph"></div>
            <h1>The Design</h1>
            <p>The way it works is that we take the audio file's sample, and plot the frequencies at any given time, 30 times a second, allowing MATLAB to produce a remarkably smooth graph. MLStudio also offers over 8 unique visualizations including ColorBoom&trade;, which matches the current "mood" of the song to a particular color. If the song is on the more aggresive side, expect to see reds and yellows. Play a song, or even an entire album. The choice is yours. MLStudio makes it easy to enjoy your favorite songs in an interesting new way.</p>
        </div>



    </div>



    <div id="footer">
        <p>&copy; 2018 Samuel Aguilar. All Rights Reserved</p>

    </div>

</body>

<script>
    AOS.init();

</script>

<script>
    window.onscroll = function() {
        myFunction()
    };

    var navbar = document.getElementById("navigation");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }

</script>

</html>
