<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="styles/ubica.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" type="text/css" href="../../device-mockups/dist/device-mockups.min.css">
    <title>Ubica</title>
</head>

<body>

    <div id="navigation">
        <ul>
            <li>
                <a href="../../index.html">HOME</a>
            </li>
            <li>
                <a href="../ux.html">UX DESIGN</a>
            </li>
            <li>
                <a href="../visual_design.html">VISUAL DESIGN</a>
            </li>
            <li>
                <a href="../resume.html">ABOUT</a>
            </li>

        </ul>
    </div>

    <div class="main">

        <div class="main-header">
            <h1>Ubica</h1>
            <strong>Co-Founder &amp; Design</strong>
            <p>June 2018 - Present</p>
        </div>
        
        <div style="margin-bottom: 40pt; display: flex; align-items: center; justify-content: center; width: 100%;">
        <div class="device-wrapper">
            <div class="device" data-device="iPhone7" data-orientation="portrait" data-color="black">
                <div class="screen">
                    <video src="../video/UbicaDemo.mp4" autoplay="true" muted style="width: 100%;"/>
                </div>
<!--
                <div class="button">
                     You can hook the "home button" to some JavaScript events or just remove it 
                </div>
-->
            </div>
        </div>
        </div>

        <div class="body">
            <div class="paragraph">
                <h1>Background</h1>
                <p>Brown University Students are unable to easily create and manage a series of events. Coordinating a multi-event series requires the use of multiple applications and services, such as GroupMe, Slack, and outdated methods of advertising. Ubica provides an integrated solution that offers an improved experience for both event-goers and managers. Read the full case below.</p>
            </div>

            
                        </div>
        
        
        <div class="links">
            <button onclick="window.open('pdfs/Ubica - Samuel Aguilar.pdf')">
                Download PDF
                </button>

        </div>



    </div>



    <div id="footer">
        <p>&copy; 2018 Samuel Aguilar. All Rights Reserved</p>

    </div>

</body>

<script>
    AOS.init();

</script>

<script>
    window.onscroll = function() {
        myFunction()
    };

    var navbar = document.getElementById("navigation");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }

</script>

</html>
